<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      <i class="fa-brands fa-spotify"></i>
      <span>Spooty</span>
    </p>
    <p class="subtitle">Self-hosted spotify downloader</p>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="box">
      <p class="subtitle">Download</p>
      <div class="is-flex">
        <input class="input" type="text" [(ngModel)]="url" placeholder="Paste playlist/song/artist url"/>
        <button class="button is-primary"
                [class.is-loading]="(createLoading$ | async)?.isLoading"
                (click)="download()"
                [disabled]="!url"
        >
          <i class="fa-solid fa-download"></i> Download
        </button>
      </div>
    </div>
    <hr>
    <div class="box">
    <div class="is-flex is-justify-content-space-between">
      <p class="subtitle">Playlists</p>
      <div class="buttons has-addons">
        <button class="button is-outlined is-success" title="Remove completed from list" (click)="deleteCompleted()">
          <i class="fa-solid fa-check"></i>
        </button>
        <button class="button is-outlined is-danger" title="Remove failed from list" (click)="deleteFailed()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
      <app-playlist-box *ngFor="let playlist of playlists$ | async" [playlist]="playlist"></app-playlist-box>
    </div>
  </div>
</section>


