@for (track of tracks$ | async; track track) {
  <a class="panel-block is-flex is-justify-content-space-between">
    <div>
      <span>{{ track.artist }} - {{ track.name }}</span>&nbsp;
      <a [href]="track.spotifyUrl"
        target="_blank"
        class="has-text-primary margin-left" title="Spotify preview of track that will be downloaded">
        <i class="fa-brands fa-spotify"></i>
      </a>&nbsp;
      <a [href]="track.youtubeUrl"
        target="_blank"
        class="has-text-danger is-color-black" title="Youtube searched track that will be downloaded">
        <i class="fa-brands fa-youtube"></i>
      </a>&nbsp;
      @if (track.status === trackStatuses.Completed) {
        <a
          href="api/track/download/{{track.id}}"
          class="has-text-info"
          title="Download downloaded and locally saved file"
          download>
          <i class="fa-solid fa-download"></i>
        </a>
      }
    </div>
    <div>
      @if (track.status === trackStatuses.Error) {
        <i class="fa-solid fa-repeat hover-icon" title="Retry to download" (click)="retry(track.id)"></i>
        }&nbsp;
        <i class="fa-solid fa-xmark hover-icon" title="Remove track from list" (click)="delete(track.id)"></i>&nbsp;
        @switch (track.status) {
          @case (trackStatuses.New) {
            <span class="tag is-info">New</span>
          }
          @case (trackStatuses.Searching) {
            <span class="tag is-warning">Searching</span>
          }
          @case (trackStatuses.Queued) {
            <span class="tag is-warning">Queued</span>
          }
          @case (trackStatuses.Downloading) {
            <span class="tag is-warning">Downloading</span>
          }
          @case (trackStatuses.Completed) {
            <span class="tag is-success">Completed</span>
          }
          @case (trackStatuses.Error) {
            <span class="tag is-danger" [title]="track.error">Error</span>
          }
        }
      </div>
    </a>
  }
